{{template "x/base/head_start" .}}
	{{template "x/repo/header" .}}
	<div class="x-mt-4">
		<h1 class="x-page-title">{{xIcon "x-history"}}{{ctx.Locale.Tr "repo.commits"}}
			<span class="x-meta">{{ctx.Locale.Tr "x.results_count" .XCommitCount}}</span>
		</h1>
		{{template "x/repo/breadcrumb" .}}
		{{/* The page is a normal GET paginated list; the pager links are HTMX
		     requests for the list fragment when JavaScript is on. */}}
		{{template "x/repo/commits_list" .}}
		<div id="x-pager">{{template "x/repo/commit_pager" .}}</div>
	</div>
{{template "x/base/head_end" .}}
